doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/fix.js')
    script(src='/javascripts/getu.js')
    script(src='/javascripts/npo.src.js')
    script(src='/javascripts/xhr.promise.js')
    script(src='/javascripts/test.js')
  body
    block content
